abigen
info.txt
tmp
build
.idea

node_modules
/.project
/.settings/


/docs/_build/
lib/

# Logs
*.log

# Coverage
/.nyc_output
/coverage

# IDE specific
/.vscode

/.DS_Store
src/.DS_Store

apidoc/
node_modules
